* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  color: #D5D4D3; }

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../font/Raleway/Raleway-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../font/Raleway/Raleway-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("../font/Raleway/Raleway-SemiBold.ttf") format("truetype"); }
h1,
h2,
h3,
h4,
h5,
p,
a,
button,
div {
  text-align: center;
  font-family: "Raleway", sans-serif; }

h1 {
  font-weight: 400;
  font-size: 1.4em; }

h2 {
  font-weight: 500;
  font-size: 1.3em;
  margin: 1em;
  color: white; }

h3 {
  font-weight: 500;
  font-size: 1.7em;
  margin: 1em;
  color: white; }

p, a {
  font-weight: 300;
  font-size: 1.2em; }

p {
  padding-bottom: 0.8em;
  text-align: justify; }

a {
  transition: 0.1s ease-in-out; }
  a:hover {
    transform: scale(0.93); }

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.content {
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  width: 70%; }
  .content p {
    margin-top: 15px; }

.footer {
  width: 90%; }
  .footer p, .footer a {
    color: #7A7B7D;
    font-size: 100%; }

.buttons {
  display: flex;
  flex-flow: row wrap;
  width: 95%; }

.button, .button-large, .button-short {
  background-color: #252C34;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out; }
  .button p, .button-large p, .button-short p {
    text-align: left;
    padding: 0;
    margin-bottom: 0; }
  .button .button-arrow, .button-large .button-arrow, .button-short .button-arrow {
    border: none;
    width: 12px;
    height: 12px; }
  .button:hover, .button-large:hover, .button-short:hover {
    transform: scale(0.96); }

.button-large {
  width: 60%;
  border: #2196f3 solid 3px;
  color: #2196f3; }

.button-short {
  width: 30%;
  color: #7A7B7D;
  border: #7A7B7D solid 3px;
  justify-content: center; }

.left-pan {
  background-color: #252C34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 35%; }

.head-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 48px;
  width: 100%; }
  .head-title img {
    width: 35px;
    height: 35px;
    margin-left: 48px; }
  .head-title h1 {
    color: #7A7B7D;
    padding-left: 15px;
    margin: 0; }

.apps-icons {
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .apps-icons img {
    margin: 15px;
    height: 50px;
    transition: 0.2s ease-in-out; }
    .apps-icons img:hover {
      transform: scale(0.96);
      cursor: pointer; }

.right-pan {
  background-color: #1B2024;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65%; }
  .right-pan .button, .right-pan .button-large, .right-pan .button-short {
    background-color: #252C34;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 35%;
    min-width: 170px;
    margin-bottom: 30px;
    padding: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .right-pan .button p, .right-pan .button-large p, .right-pan .button-short p {
      padding: 0;
      margin: 0; }
    .right-pan .button .button-arrow, .right-pan .button-large .button-arrow, .right-pan .button-short .button-arrow {
      border: none;
      width: 12px;
      height: 12px; }
    .right-pan .button:hover, .right-pan .button-large:hover, .right-pan .button-short:hover {
      transform: scale(0.96); }

.right-pan {
  background-color: #1B2024;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65%; }

.overlay-popup#store {
  display: none; }

.overlay-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1B2024;
  z-index: 1000; }

.window-popup {
  display: flex;
  flex-direction: column;
  z-index: 20000;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 60px;
  transform: translate(-50%, -50%);
  background-color: #20262C;
  -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

.store-popup {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 400px; }
  .store-popup h1 {
    color: #D5D4D3;
    margin-bottom: 40px; }
  .store-popup > p {
    margin-bottom: 15px; }

@media (max-width: 995px) {
  .left-pan {
    width: 100%; }

  .right-pan {
    width: 100%; }

  .window-popup {
    display: flex;
    flex-direction: column;
    z-index: 20000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 99%;
    padding: 5%;
    transform: translate(-50%, -50%);
    background-color: #20262C;
    -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px; } }

/*# sourceMappingURL=style.css.map */
