* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  color: #D5D4D3; }

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../font/Raleway/Raleway-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../font/Raleway/Raleway-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("../font/Raleway/Raleway-SemiBold.ttf") format("truetype"); }
h1,
h2,
h3,
h4,
h5,
p,
a,
button,
div {
  text-align: center;
  font-family: "Raleway", sans-serif; }

h1 {
  font-weight: 400;
  font-size: 1.4em; }

h2 {
  font-weight: 500;
  font-size: 1.3em;
  margin: 1em;
  color: white; }

h3 {
  font-weight: 500;
  font-size: 1.7em;
  margin: 1em;
  color: white; }

p, a {
  font-weight: 300;
  font-size: 1.2em; }

p {
  padding-bottom: 0.8em;
  text-align: justify; }

a {
  transition: 0.1s ease-in-out; }
  a:hover {
    transform: scale(0.93); }

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.content {
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  width: 70%; }
  .content p {
    margin-top: 15px; }

.footer {
  width: 90%; }
  .footer p, .footer a {
    color: #7A7B7D;
    font-size: 100%; }

.left-pan {
  background-color: #252C34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 35%; }

.head-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 48px;
  width: 100%; }
  .head-title img {
    width: 35px;
    height: 35px;
    margin-left: 48px; }
  .head-title h1 {
    color: #7A7B7D;
    padding-left: 15px;
    margin: 0; }

.apps-icons {
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .apps-icons img {
    margin: 15px;
    height: 50px;
    transition: 0.2s ease-in-out; }
    .apps-icons img:hover {
      transform: scale(0.96);
      cursor: pointer; }

.right-pan {
  background-color: #1B2024;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65%; }
  .right-pan .explore {
    background-color: #252C34;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 35%;
    padding: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .right-pan .explore p {
      padding: 0;
      margin: 0; }
    .right-pan .explore .explore-arrow {
      border: none;
      width: 12px;
      height: 12px; }
    .right-pan .explore:hover {
      transform: scale(0.96); }

.right-pan {
  background-color: #1B2024;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65%; }
  .right-pan .explore {
    background-color: #252C34;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 35%;
    padding: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .right-pan .explore p {
      text-align: left;
      padding: 0;
      margin: 0; }
    .right-pan .explore .explore-arrow {
      border: none;
      width: 12px;
      height: 12px; }
    .right-pan .explore:hover {
      transform: scale(0.96); }

@media (max-width: 995px) {
  .left-pan {
    width: 100%; }

  .right-pan {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
