*
{
    margin: 0;
    padding: 0;
}

body
{ background: url("images/background.jpg") no-repeat fixed;
    background-size: cover;
    padding-top: 5px;
    font-family: Arial,sans-serif;
    font-size: 12px;
}
.container {
    margin: 10px auto;
    padding: 10px auto;
}

#container-text {
    background: rgba(15,7,3,0.84);
    opacity: 0.5;
    margin: 10px auto;
    border-radius: 10px;
}

header {
    margin-top: 10px;
    margin-left: 30px;
    height: auto;
    position: relative;
}
header img{
    width: 235px;
    height: 38px;
}

#welcoming-text{
    color: #dad3d3;
    text-align: center;
    margin:0 auto ;
    padding: 20px ;
}

.separation{height: 10px;}

/* BootStrap */

#badge-google{
    margin-left: -10px;
}
#badge-ios{
    margin: auto;
}
#workshop{
    margin-top: 40px;
    margin-right: 5px;
}
#workshop-link{
    margin-left: -5px;
}
[class*="col"]
{
    margin-top: 10px;
    margin-bottom: 5px;
}



