// Overlay Style 1

.overlay-popup{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-background-2;
    z-index: 1000;
}

// Overlay Style 2

.overlay-popup2{
    @extend .overlay-popup;
    background-color: rgba($color: $color-background-2, $alpha: .6)
}

// Overlay Style 3

.overlay-popup3{
    @extend .overlay-popup2;
    display: none;
    cursor: pointer;
}


// Popup Style

.window-popup{
    display: flex;
    flex-direction: column;
    z-index: 20000;
    width: 500px;
    position: absolute;
    top: 50%; left: 50%;
    padding: 60px;
    transform: translate(-50%, -50%);
    background-color: $color-background;
    -webkit-box-shadow: 0px 6px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 6px 30px rgba(0,0,0,0.3);
    box-shadow: 0px 6px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.head-popup{ // Header with Logo
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 30px;
    h1{color: $white-text;}
    img{width: 20px; height: 20px; margin-right: 10px;}
}

#version {
    color: #FFFFFF;
    line-height: 16px;
    text-align: left;
}
    

// Popup Input Style

.input-window{
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
    input[type=text]{
        background-color: $color-background-3;
        border: none;
        padding: 10px 30px 10px 20px;
        text-align: center;
        caret-color: $white-text;
        color: $white-text;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        border-radius: 11px;
        &:focus{
            outline: none;
        }
    }
    input[type=number] {
        background-color: #252C34;
        border: none;
        padding: 10px 30px 10px 20px;
        text-align: center;
        caret-color: #D5D4D3;
        color: #D5D4D3;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        border-radius: 11px;
        &:focus{
            outline: none;
        }
    }
    button[type=submit]{
        border: none;
        background: none;
        background-image: url('../images/icon/submit-arrow.png');
        background-size: contain;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 10px;
        top: 13px;
        opacity: .7;
        cursor: pointer;
        transition: .1s ease-in-out;
        &:hover{
            transform: scale(1.1)
        }
    }
}

// Start Module Style

.starting-popup{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    img{
        width: 55px;
        height: 55px;
        margin-bottom: 40px;
    }
    h1{
        color: $white-text;
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 15px;
        color: $grey-text;
    }
}

//Example Module Style
.window-popup#example-module , .window-popup#challenges-module{
    display: none;
    .head-example, .list-example > a{
        display: flex;
        justify-content: space-between;
    }
    .head-example{
        padding: 10px 45px;
        border-bottom: 1px solid $color-background-3;
       p{color: $grey-text;}
    }
    .list-example{
        overflow: auto;
        height: 193px;
        p {color: $white-text}
    }
    .example-difficulty{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin-right: 20px;
        &.hard{
            background-color: $red-error
        }
        &.middle{
            background-color: #FF6C00;
        }
        &.easy{
            background-color: $green-succes
        }
    }
    .list-example > a{
        padding: 20px 45px;
        border-bottom: 1px solid $color-background-3;
        &:hover{
            background-color: $color-background-3;
          }
    }
}

//Export Module Style

.window-popup#export-module{
        display: none;
        height: auto;
    .content{
        p{color: $grey-text;}
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .input-window{
        margin-top: 15px;
    }
}

//Setting Module Style

.window-popup#setting-module{
        display: none;
        height: auto;
    .content{
        text-align: center;
        p{
            color: $grey-text;
            margin: 10px;
        }
    }
    .input-window{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        input[type=number] {
            width: 120px;
        }
        input[type=text] {
            width: 100%;
            padding: 10px 0px 10px 0px;
        }
        button[type=submit] {
            position: relative;
            right: 0;
            top: 0;
        }
    }
}

// Full-Table Module Style
.full-screen{
    position:fixed;
    z-index : 100000 !important;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 10s ease-in-out
}
.full-screen .led-header a#full-screen{
    background-image: url('../images/icon/close.png')
}


//Informations Module Style
#informations-module{
    display: none;
    .info-content{
        color: $grey-text;
        line-height: 16px;
        text-align: justify;
        a{
            color: $white-text;
            text-decoration: none;
            &:hover{
                opacity: .9;
            }
        }
        .info-autor{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            &>div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                &>div{
                    display: flex;
                    justify-content: space-between;
                    a{
                        width: 15px;
                        height: 15px;
                        display: block;
                        background-size: cover;
                        margin-left: 5px;
                        opacity: .7;
                        &:first-child{
                            background-image: url('../images/icon/github.png')
                        }
                        &:last-child{
                            background-image: url('../images/icon/linkedin.png')
                        }
                        }
                    }
                }
            }
        }
}
