[Unit]
Description=Arbalet Frontage
Wants=network-online.target
After=network-online.target

[Service]
User=CURRENTUSER
Type=simple
WorkingDirectory=WDIRECTORY
ExecStart=/usr/bin/docker-compose up --force-recreate
StandardOutput=journal
KillSignal=SIGINT
SuccessExitStatus=SIGINT
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target

# Keep a new line at EOF
