[Unit]
Description=Arbalet Autostart
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/arbalet/Arbalet/frontage
ExecStart=/usr/bin/docker-compose -f docker-compose.prod.yml up --force-recreate
StandardOutput=journal
KillSignal=SIGINT
SuccessExitStatus=SIGINT
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target

# Keep a new line at EOF
