// RIGHT PAN STYLE
 .right-pan{
    background-color: $color-background-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 65%;
 }
