* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%; height: 100%;
}

@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url('../font/Raleway/Raleway-Regular.ttf') format("truetype"),
  }

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: url('../font/Raleway/Raleway-Bold.ttf') format("truetype"),
  }

@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: url('../font/Raleway/Raleway-SemiBold.ttf') format("truetype"),
  }

h1,
h2,
h3,
h4,
h5,
p,
a,
label,
.blocklyTreeLabel{
font-family: "Raleway", sans-serif
}
h1{
    font-weight: 400;
    font-size: 24px;
}

h2, .result-connect-user{
    font-weight: 600;
    font-size: 18px;
}

p, h5, label, .blocklyTreeLabel, a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
}

a{
  transition: 0.1s ease-in-out;
  text-decoration: none;
  &:hover{
    transform: scale(0.93)
  }
}

body{
    
  min-width: 1200px;

}

.main{
  width: 100%;
  height: 100%;
}

.left-pan, .center-pan, .right-pan{
  height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
  }
   
::-webkit-scrollbar-track {
    background:rgba(255,255,255,.2);
    border-radius: 40px;
  }
   
::-webkit-scrollbar-thumb {
    background: $white-text; 
    width: 5px;
    border-radius: 40px;
  }